<div
  style="
    font-family: sans-serif;
    color: #4b5563;
    background-color: white;
    margin: 0.5rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: auto;
  "
>
  <img
    src="https://geoproglobal.com/logo.png"
    alt="Logo"
    height="100"
    style="
      position: absolute;
      min-width: 100px;
      min-height: 100px;
      margin-bottom: 10px;
    "
  />
  <div>
    <div style="max-width: 300px; max-height: min-content">
      <p style="font-size: 1.25rem; margin: 0; max-width: max-content">
        GeoPro Global Solutions Inc.
      </p>
      <p style="font-size: 0.75rem; margin: 0; max-width: max-content">
        Unit No. 204, 2nd Floor KACC Philmade Building, Lot 1 & 2 corner Jose
        Abad Santos Avenue and E. Quirino st.,
      </p>
      <p style="font-size: 0.75rem; margin: 0; max-width: max-content">
        Clark Freeport Zone, Philippines
      </p>
    </div>
  </div>

  <p
    style="
      text-align: left;
      font-size: 3rem;
      font-weight: bold;
      margin: 3.5rem 0;
    "
  >
    QUOTE
  </p>

  <div style="width: 100%">
    <p
      style="
        font-weight: 600;
        align-self: start;
        margin-bottom: 0.75rem;
        font-size: 1.25rem;
      "
    >
      Bill to:
    </p>
    <div style="width: 100%; display: block">
      <div>
        <p style="font-size: 1.25rem; margin: 0">{{customer_name}}</p>
        <!-- <p style="margin: 0">{{ customer_address }}</p> -->
      </div>
      <div>
        <div style="font-size: 0.875rem">
          <div style="margin: 10px 0">
            <p style="margin: 0; font-weight: bold">Quote #</p>
            <p style="margin: 0; font-size: 0.875rem">{{ quote_number }}</p>
          </div>
          <div style="margin: 10px 0">
            <p style="margin: 0; font-weight: bold">Quote date</p>
            <p style="margin: 0; font-size: 0.875rem">{{ quote_date }}</p>
          </div>
          <div style="margin: 10px 0">
            <p style="margin: 0; font-weight: bold">Due date</p>
            <p style="margin: 0; font-size: 0.875rem">{{ due_date }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="width: 100%; margin-top: 2rem; margin-bottom: 2rem">
    <table style="width: 100%; border-collapse: collapse">
      <thead>
        <tr
          style="
            text-align: left;
            background-color: #60a5fa;
            color: white;
            font-size: 1.25rem;
          "
        >
          <th style="padding: 0.5rem">QTY</th>
          <th style="padding: 0.5rem">Name</th>
          <th style="padding: 0.5rem">Price</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td style="padding: 0.5rem">{{ item.quantity }}</td>
          <td style="padding: 0.5rem">{{ item.name }}</td>
          <td style="padding: 0.5rem">{{ item.unit_price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <hr style="width: 100%; margin: 1rem 0" />

    <div
      style="
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: end;
        align-items: center;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-self: flex-end;
          width: 100%;
          max-width: 400px;
        "
      ></div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-self: flex-end;
          width: 100%;
          max-width: 400px;
          margin: 0.5rem 0;
        "
      ></div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-self: flex-end;
          width: 100%;
          max-width: 400px;
          border-top: 2px solid #000;
          border-bottom: 2px solid #000;
          padding: 1rem 0;
          font-weight: bold;
        "
      >
        <p style="margin: 0">Total</p>
        <p style="margin: 0">{{total}}</p>
      </div>
    </div>
  </div>
</div>
